@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

* { 
  box-sizing:border-box;
}

.acc-container {
  width:800px;
  margin:30px auto 0 auto;
  border-radius:8px;
  overflow: hidden;
}

.acc-btn { 
  width:100%;
  margin:0 auto;
  padding:20px 25px;
  cursor:pointer;
  background:#34495E;
  border-bottom:1px solid #2C3E50;
}

.acc-content {
  width:100%;
  margin:0 auto;
  display: none;
  background:#2C3E50;
  padding:30px;
  height: auto;
}

h1 {
  font:700 20px/26px 'Lato', sans-serif;
  color:#ffffff;
}

p { 
  font:400 16px/24px 'Lato', sans-serif;
  color:#798795;
}